# Каталоги и файлы, которые не попадают в архив с исходным кодом.
/research export-ignore
/corpus export-ignore
/dist export-ignore
/bin export-ignore
.gitattributes export-ignore
.github export-ignore
*.mp4 export-ignore
*.png export-ignore
/tools export-ignore
